<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

<!-- <title>Hyperledger Fabric Tuna Application</title> -->
    <title>Hyperledger Fabric Authentication Application</title>
    <link rel="icon" href="favicon.png" type="image/gif">

    <!-- require jquery and bootstrap scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <!-- adding style here -->
    <style type="text/css">
        header {
            /* background-color: transparent; */
            font-size: 30px;
            padding: 15px;
        }
        #body {
            margin-left: 3%;
            margin-right: 3%;
        }
        .form-control {
            margin: 8px;
        }
        #right_header {
            width: 20%;
            font-size: 15px;
            margin-right: 0px;
        }
        #left_header {
            margin-left: 0;
            width: 40%;
            display: inline-block;
        }
        #id {
            width: 49%;
            display: inline-block;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <script src="../static/jquery-3.2.1.min.js"></script>
</head>

<body>


<div class="cover">
    <header style="background-color:white;opacity:0.8;">
        <div id="left_header" style="color: black; opacity:1 !important;">Hyperledger Fabric Authentication Application</div>
    </header>
</div>

<div id="body">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Query All ISS AUTH INFO</a></li>
        <li><a data-toggle="tab" href="#menu2">Create New ISS AUTH INFO</a></li>
        <li><a data-toggle="tab" href="#menu3">Query All ISS CERT INFO</a></li>
        <li><a data-toggle="tab" href="#menu4">Create New ISS CERT INFO</a></li>
    </ul>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img img-responsive" id="my_image" style="display: block; margin-left: auto; margin-right: auto;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <div class="form-group">
                <h3>Query All ISSAuthInfo</h3>
                <!-- <p><input id="queryAllTuna" type="submit" value="Query" class="btn btn-primary" ng-click="queryAllTuna()"></p> -->
                <p><input id="queryAllISSAuthInfo" type="submit" value="Query" class="btn btn-primary" ng-click="queryAllProduct()"></p>
            </div>

            <table id="TBL_ISS_AUTH_INFO" class="table">
                <thead>
                    <tr>
                        <th>UUID</th>
                        <th>COMP_IDNO</th>
                        <th>API_KEY</th>
                        <th>BIZ_CD</th>
                        <th>WEB_ID</th>
                        <th>WEB_PW</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="form-group">
                <h3>Create New ISS AUTH INFO</h3>
                <!--<h5 style="color:green;margin-bottom:2%" id="success_create"></h5>-->
                <br>
                Enter COMP_IDNO: <input id="txtCompIdNo" class="form-control" type="text" placeholder="">
                Enter API_KEY: <input id="txtApiKey" class="form-control" type="text" placeholder="">
                Enter BIZ_CD: <input id="txtBizCd" class="form-control" type="text" placeholder="">
                Enter WEB_ID: <input id="txtWebId" class="form-control" type="text" placeholder="">
                Enter WEB_PW: <input id="txtWebPw" class="form-control" type="text" placeholder="">
                <input id="btnCreateNewISSAuthInfo" type="submit" value="Create" class="btn btn-primary">
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div class="form-group">
                <h3>Query All ISSCertInfo</h3>
                <p><input id="queryAllISSCertInfo" type="submit" value="Query" class="btn btn-primary"></p>
            </div>
            <table id="TBL_ISS_CERT_INFO" class="table">
                <thead>
                <tr>
                    <th>COMP_IDNO</th>
                    <th>API_KEY</th>
                    <th>BIZ_CD</th>
                    <th>CERT_ORG</th>
                    <th>CERT_NAME</th>
                    <th>CERT_DATE</th>
                    <th>CERT_PWD</th>
                    <th>CERTPATH</th>
                    <th>CERTDATA</th>
                    <th>CERTDATA1</th>
                    <th>CERTDATA2</th>
                    <th>CERTDATA3</th>
                    <th>CERTDATA4</th>
                    <th>CERTDATA5</th>
                    <th>CERTDATA6</th>
                    <th>CERTDATA7</th>
                    <th>CERTDATA8</th>
                    <th>CERTDATA9</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <div id="menu4" class="tab-pane fade">
            <div class="form-group">
                <h3>Create New ISS AUTH INFO</h3>
                <br>
                Enter COMP_IDNO: <input id="txtCertCompIDNo" class="form-control" type="text" placeholder="">
                Enter API_KEY: <input id="txtCertAPIKey" class="form-control" type="text" placeholder="">
                Enter BIZ_CD: <input id="txtCertBizCD" class="form-control" type="text" placeholder="">
                Enter CERT_ORG: <input id="txtCertOrg" class="form-control" type="text" placeholder="">
                Enter CERT_NAME: <input id="txtCertName" class="form-control" type="text" placeholder="">
                Enter CERT_DATE: <input id="txtCertDate" class="form-control" type="text" placeholder="">
                Enter CERT_PWD: <input id="txtCertPwd" class="form-control" type="text" placeholder="">
                Enter CERT_PATH: <input id="txtCertPath" class="form-control" type="text" placeholder="">
                Enter CERT_DATA: <input id="txtCertData" class="form-control" type="text" placeholder="">
                <input id="btnCreateNewISSCertInfo" type="submit" value="Create" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>

<script id="TEMP_ISS_AUTH_INFO" type="text/x-jquery-tmpl">
    <tr>
        <td style="vertical-align:middle">{{= UUID}}</td>
        <td style="vertical-align:middle">{{= COMP_IDNO}}</td>
        <td style="vertical-align:middle">{{= API_KEY}}</td>
        <td style="vertical-align:middle">{{= BIZ_CD}}</td>
        <td style="vertical-align:middle">{{= WEB_ID}}</td>
        <td style="vertical-align:middle">{{= WEB_PW}}</td>
    </tr>
</script>

<script id="TEMP_ISS_CERT_INFO" type="text/x-jquery-tmpl">
    <tr>
        <td>{{= COMP_IDNO}}</td>
        <td>{{= API_KEY}}</td>
        <td>{{= BIZ_CD}}</td>
        <td>{{= CERTORG}}</td>
        <td>{{= CERTNAME}}</td>
        <td>{{= CERTDATE}}</td>
        <td>{{= CERTPWD}}</td>
        <td>{{= CERTPATH}}</td>
        <td>{{= CERTDATA}}</td>
        <td>{{= CERTDATA1}}</td>
        <td>{{= CERTDATA2}}</td>
        <td>{{= CERTDATA3}}</td>
        <td>{{= CERTDATA4}}</td>
        <td>{{= CERTDATA5}}</td>
        <td>{{= CERTDATA6}}</td>
        <td>{{= CERTDATA7}}</td>
        <td>{{= CERTDATA8}}</td>
        <td>{{= CERTDATA9}}</td>
    </tr>
</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src='static/jquery-3.2.1.min.js' type='text/javascript'></script>
<script src='static/jquery.tmpl.min.js' type='text/javascript'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    $(function(){
        $("#queryAllISSAuthInfo").click(function(){
            $.ajax({
                url: "/v1/api/bc/issauthinfos",
                type: 'GET',
                dataType: 'JSON',
                beforeSend: function() {
                },
                success: function (response) {
                    if (response.RESULT_CD == "0000") {
                        $("#TBL_ISS_AUTH_INFO tbody").html("");
                        if (response.DATA.length > 0) {
                            $("#TEMP_ISS_AUTH_INFO").tmpl(response.DATA).appendTo("#TBL_ISS_AUTH_INFO tbody");
                        } else {
                            $("#TBL_ISS_AUTH_INFO tbody").html("<tr style='text-align:center;'><td colspan='6'>No IIS AUTH INFO</td></tr>");
                        }
                    }
                },
                error: function (data, status, err) {
                    console.log("error: " + data + " status: " + status + " err:" + err);
                },
            }).done(function(){

            });
        });

        $("#btnCreateNewISSAuthInfo").click(function(){
            $.ajax({
                url: "/v1/api/bc/issauthinfos",
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify({
                    "API_KEY": $("#txtApiKey").val(),
                    "BIZ_CD": $("#txtBizCd").val(),
                    "COMP_IDNO": $("#txtCompIdNo").val(),
                    "REQ_MODE": "C",
                    "WEB_ID": $("#txtWebId").val(),
                    "WEB_PW": $("#txtWebPw").val()
                }),
                success: function (response) {
                    if(response.RESULT_CD=="0000"){
                        alert("The New Record Has Been Inserted Successfully!");
                    }else{
                        alert("Inserting New Record Has Been Failed!");
                    }
                },
                error: function (data, status, err) {
                    console.log("error: " + data + " status: " + status + " err:" + err);
                }
            });
        });

        $("#queryAllISSCertInfo").click(function(){
            $.ajax({
                url: "/v1/api/bc/isscertinfos",
                type: 'GET',
                dataType: 'JSON',
                beforeSend: function() {
                },
                success: function (response) {
                    if (response.RESULT_CD == "0000") {
                        $("#TBL_ISS_CERT_INFO tbody").html("");
                        if (response.DATA.length > 0) {
                            $("#TEMP_ISS_CERT_INFO").tmpl(response.DATA).appendTo("#TBL_ISS_CERT_INFO tbody");
                        } else {
                            $("#TBL_ISS_CERT_INFO tbody").html("<tr style='text-align:center;'><td colspan='18'>No IIS CERT INFO</td></tr>");
                        }
                    }
                },
                error: function (data, status, err) {
                    console.log("error: " + data + " status: " + status + " err:" + err);
                },
            }).done(function(){

            });
        });

        $("#btnCreateNewISSCertInfo").click(function(){
            $.ajax({
                url: "/v1/api/bc/isscertinfos",
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify({
                    "API_KEY": $("#txtCertAPIKey").val(),
                    "BIZ_CD": $("#txtCertBizCD").val(),
                    "CERT_DATA": $("#txtCertData").val(),
                    "CERT_DATE": $("#txtCertDate").val(),
                    "CERT_NAME": $("#txtCertName").val(),
                    "CERT_ORG": $("#txtCertOrg").val(),
                    "CERT_PATH": $("#txtCertPath").val(),
                    "CERT_PWD": $("#txtCertPwd").val(),
                    "COMP_IDNO": $("#txtCertCompIDNo").val(),
                    "REQ_MODE": "C"
                }),
                success: function (response) {
                    if(response.RESULT_CD=="0000"){
                        alert("The New Record Has Been Inserted Successfully!");
                    }else{
                        alert("Inserting New Record Has Been Failed!");
                    }
                },
                error: function (data, status, err) {
                    console.log("error: " + data + " status: " + status + " err:" + err);
                }
            });
        });
    });
</script>
</body>
</html>